.tabLayout {
	display: flex;
	flex-direction: row;
	column-gap: 1em;
}

.tabLayout .option input {
	display: none;
}

.tabLayout .option label {
	text-transform: uppercase;
	cursor: pointer;
}

.tabLayout .option input:checked+label {
	font-weight: bolder;
	color: white;
}